@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.ShopCart.listShopItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Автомобіль:</b> @el.car.name<br/>
            <b>Ціна:</b> @el.car.price.ToString()<br/>
        </div>
    }
    <hr/>
<div class="btn btn-danger" asp-controller="Order">Купити</div>
</div>