<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Автомагазин</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <li class="navbar-brand"><a href="https://localhost:44370/" class="nav-link px-2 text-light">Головна</a></li>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a href="https://localhost:44370/Cars/List/Electro" class="nav-link px-2 text-light">Електромобілі</a></li>
                        <li class="nav-item"><a href="https://localhost:44370/Cars/List/Diesel" class="nav-link px-2 text-light">Дизельні</a></li>
                        <li class="nav-item"><a href="https://localhost:44370/Cars/List/Gasoline" class="nav-link px-2 text-light">Бензинові</a></li>
                        <li class="nav-item"><a href="https://localhost:44370/Cars/List/Motorcycle" class="nav-link px-2 text-light">Мотоцикли</a></li>
                        <li class="nav-item"><a href="https://localhost:44370/Cars/List/Bicycle" class="nav-link px-2 text-light">Велосипеди</a></li>
                        <li class="nav-item"><a href="https://localhost:44370/Home/News" class="nav-link px-2 text-light">Новини</a></li>



                    </ul>
                </div>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Пошук автомобіля..." aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">Вхід</button>
                    <button type="button" class="btn btn-warning">Реєстрація</button>
                </div>
            </div>
        </nav>
    </header>



<div class="container mt">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>









<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">Petro Havryliuk - 2022 &copy; All rights reserved. </p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="https://localhost:44370/" class="nav-link px-2 text-muted">Домашня</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Про нас</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Вакансії</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">ЧаПи</a></li>
                <li class="nav-item"><a href="https://localhost:44370/home/privacy" class="nav-link px-2 text-muted">Умови</a></li>
        </ul>
    </footer>
</div>








<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>