@{
    ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Каталог автомобілів</h1>
    <p>Вибирайте <a href="https://localhost:44370/Cars/List">Найкращі автомобілі України</a>.</p>
</div>