@{ViewData["Title"] = "Домашня сторінка";
}

<div class="text-center">
    <h1 class="display-4">Каталог автомобілів</h1>
    <p><a class="btn btn-warning" href="https://localhost:44370/Cars/List">Знайти авто</a></p>
    <img src="img/logo.jpg">

</div>