<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        Новин нема, поки що. Слідкуйте за оновленнями! Адміністрація.
    </div>
</body>
</html>