@{
    ViewData["Title"] = "Умови використання";
}
<h1>@ViewData["Title"]</h1>

<p>Ваші дані захищені та не передаються третім сторонам. Користуйтесь сайтом чесно, не порушуючи Законів України та моралі. Перевіряйте інформацію, яку викладаєте в загальний доступ. Сайт не несе відповідальності за надані Вами в публічний доступ дані.</p>