    <h3>Автомобілі в наявності</h3>
    <h5>@Model.CurrCategory</h5>
    <div class ="row mt-5 mb-2">
    @{
        foreach (Car car in Model.allCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
    </div>