    <h1>Автомобілі в наявності</h1>
    <h3>@Model.CurrCategory</h3>
    <div class ="row mt-5 mb-2">
    @{
        foreach (Car car in Model.allCars)
        {
            @Html.Partial("AllCars", car)
        }
    }
    </div>